.backdrop{
  position: fixed;  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $backdrop-bg;
  
  opacity: 1;
  visibility: visible;

  @include transition(visibility, opacity, transform);  
}

.backdrop__container{
  position: absolute;
  top: 50%;
  left: 50%;  
  height: 581px;
  width: 528px;
  background-color: $full-white;   
  @include translate(-50%, -50%, 1); 
  @include transition(visibility, opacity, transform);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden; 
}

.input-form{
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 581px;
  width: 528px;
  padding: 40px;
}

.backdrop.is-hidden .input-form{
  @include translate(-50%, -50%, 10%);    
}

.input-form__button--close{
  position: absolute;
  top: 8px;
  left: 100%;   
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $full-white;
  border: 1px solid $button-border-color;
  border-radius: 50%;  
  height: 30px;
  width: 30px; 

  &:hover,
  &:focus{
    color: $text-blue;  
    cursor: pointer;
  }
  
  @include transition(color, cursor);  
  @include translate(-38px, 0, 1);  
}

.input-form__icon--close{
  fill: currentColor;
}

.input-form__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $title-text;
  margin-bottom: 12px;
}

.input-form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.input-form__input{
  height: 40px;
  font: inherit;
  border: 1px solid $brordr-input-color;
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 30px;
  width: 100%;

  &:focus{
    border-color: $text-blue;  
    outline: none;
    cursor: pointer;
  }

  &:hover{
    cursor: pointer; 
  }

  @include transition(border-color, cursor);  
}

.input-form__label{
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-form__wrapper{
  position: relative;
  display: inherit;
  width: inherit;
  color: black;
}

.input-form__icon{
  position: absolute;
  top: 50%;
  left: 12px;
  @include translate(0, -50%, 1);  
}

.input-form__input:focus + .input-form__icon{
  fill: $text-blue;
}

.input-form__group--textarea{
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
}

.input-form__input--textarea{  
  font: inherit;
  border: 1px solid $brordr-input-color;
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;  
  width: 100%; 

  &:focus
  {
    border-color: $text-blue;  
    outline: none;
    cursor: pointer;
  }

  &:hover{
    cursor: pointer;
  }

  @include transition(border-color, cursor);  
  resize: none;
}

.input-form__group--policy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input-form__label--checkbox{
  display: flex;
  width: 100%;
}

.input-form__input--checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;

  &:checked + .input-form__icon--svg{
    border: none;
  } 

  &:checked + .input-form__icon--svg .input-form__icon--sprite{
    display: block;
  }
}

.input-form__icon--svg{
  border: 2px solid $title-text;
  border-radius: 2px;
  margin-right: 6px;
  @include translate(0, 20%, 1);    
}

.input-form__icon--sprite{
  display: none;
}

.input-form__input--text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $subtitle-text;
}

.input-form__link{
  color: $text-blue;
  text-decoration: underline;
}

.input-form__button--submit{
  width: 200px;
  height: 50px;
  color: $full-white;
  background-color: $text-blue;  
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  &:hover,
  &:focus{
    background-color: $form-button-active; 
  }
  
  @include transition(background-color);  
}