.clients__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 15px; 
  margin: 0 auto; 
}

.clients__title{
  position: absolute;
  @extend %title-h2;
  margin-bottom: 30px;
}

.clients__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.clients__item{
  margin-top: calc(1 * 30px);
  margin-left: calc(1 * 30px);
  flex-basis: calc((100% - 60px) / 2); 

  @media (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }

  // &:not(:last-child){
  //   margin-right: 30px;
  // }
}
  

.clients__link{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;
  border: solid;
  border-width: 1px;
  color: $svg-grey-color;  
  border-color: $svg-grey-color;
  border-radius: 4px;

  @media (min-width: 1200px) {
    min-width: 170px;
  }

  &:hover,
  &:focus{
    color: $text-blue;
    border-color: $text-blue;
    cursor: pointer;
  }

  @include transition(color, border-color, cursor);  
}

.clients__icon{
  fill: currentColor;
}