.features__container{
  padding: 94px 15px;
}

.features__list{
  display: block;
  
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__items{  
  @media (max-width: 767px) {
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__card{
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 120px;
  background-color: $our-team-bg;
  margin-bottom: 30px;
}

.features__title{
  color: $title-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em; 
  text-align: center; 
  margin-bottom: 10px;
}

.features__text{
  color: $subtitle-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;  
}