.site-footer{
  background-color: $bg-main-color;
  padding-top: 60px;
  padding-bottom: 60px;  
}

.site-footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {                   
    align-items: baseline;      
  }  
}

.concat-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media (min-width: 768px) {    
    flex-direction: row;          
    align-items: baseline; 
  }  

  @media (min-width: 1200px) {                   
    margin-right: 93px;    
  }
  
}

.site-contact__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {    
    margin-bottom: 60px;    
  }    

  @media (min-width: 768px) {    
    margin-right: 165px;    
  }

  @media (min-width: 1200px) {              
    justify-content: flex-start;     
    align-items: flex-start; 
    margin-right: 70px;    
  }
}

.site-contact__address{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1200px) {              
    justify-content: flex-start;     
    align-items: flex-start;     
  }
}

.site-contact__street{
  color: $full-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;  
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.site-contact__list--bottom{
  display: block;
  
  & :not(:last-child){
    margin-bottom: 9px;
  }
}

.site-contact__item{
  margin-right: 0px;
}

.subscribe__conainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media (max-width:1200px) {
    margin-bottom: 60px;
  }
  
  @media (min-width:1200px) {
    align-items: flex-start;
  }
}

.subscribe__title{
  @extend %footer-subscribe-titles;  
}

.subscribe__list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__item{
  &:not(:last-child){
    margin-right: 10px;
  }
}    

.subscribe__link{
  background-color: $footer-social-links-bg;
  color: $full-white;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include transition(background-color cursor);  
  
  &:hover,
  &:focus{
    background-color: $text-blue;
    cursor: pointer;
  }
}

.subscribe__icon{
  fill: currentColor;
}

.subscribe-input__container{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width:1200px) {
    align-items: flex-start;
  }
}

.subscribe-input__title{
  @extend %footer-subscribe-titles; 
  margin-bottom: 20px; 
}

.subscribe-input__elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.subscribe-input__email{
  color: $footer-subscribe-email-border;
  height: 50px;
  width: 358px;
  background-color: $bg-main-color;
  border: 1px solid $footer-subscribe-email-border;
  border-radius: 4px;
  padding: 15px 16px;  
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    margin-right: 12px;
  }
}

.subscribe-input__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $full-white;
  background-color: $text-blue;  
  border-radius: 4px;
  border: none;  
}

.subscribe-input__icon--button{
  fill: $full-white;
  margin-left: 10px;
}