.site-header{
  @media (max-width: 767px) {
    padding: 16px 15px;
  }  
}

.site-header__container{
  display: flex;  
  justify-content: space-between; 
  align-items: center; 
}

.site-header__nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;    
}

.site-menu{
  display: none;  
  @media (min-width: 767px) {
    display: flex;
    
    margin-left: 93px; 
    
    & :not(:last-child){
      margin-right: 50px;
    }
  }
}

.site-menu__link{
  position: relative;
  display: block;
  color: $title-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 28px;

  @include transition(color cursor); 

  &:hover,
  &:focus{
    color: $text-blue;  
  }

  &::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $text-blue;
    opacity: 0;

    @include transition(opacity); 
  }

  &:hover::after,
  &:focus::after{
    opacity: 1;
  }
}

.site-menu__link--current{
  color: $text-blue;

  &::after{
    opacity: 1;
  }
}

.site-header__contacts{
  display: none;

  @media (min-width: 767px){
    display: flex;
    align-items: center;
    margin-left: 84px; 
  }
  
  @media (min-width: 1199px){
    display: flex;
    align-items: center;
    margin-left: 305px;
  }  
}

.site-contact--top{
  display: flex; 
  flex-direction: column; 
  margin: 0 auto; 

  & :not(:last-child){
    padding-bottom: 10px;
  }

  & :last-child{      
    margin-left: -12px;
  } 
  
  @media (min-width: 1199px){
    flex-direction: row;
    
    & :not(:last-child){
      padding-bottom: 0px;
      margin-right: 30px;
    }    
    
    & :last-child{      
      margin-left: 0px;
    } 
  }
}

.site-contact__link--top{  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.site-contact__icon{
  fill: currentColor;
  margin-right: 10px;
}

.site-header__menu-toggle{ 
  display: none; 

  &:hover,
  &:focus{
    color: $text-blue;    
  }

  @media (max-width: 767px){
    display: flex;
    align-items: center;
    justify-content: center;    
    min-height: 40px;
    min-width: 40px;
    background-color: transparent;
    border: none;
    margin-left: auto;
  }
}

.site-header__menu-toggle--icon{
  fill: currentColor;
}

