.team{
  background-color: $our-team-bg;   
}

.team__container{
  max-width: 480px;
  margin: 0px auto;
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width:1210px) {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1200px;
  }
}

.team__title{  
  @extend %title-h2;
  padding-bottom: 50px;  
}

.team__list{    
  
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);

  @media (max-width:767px)
  {
    margin: 0px auto;
  }

  @media (min-width: 768px) {    
    flex-wrap: wrap;
    flex-direction: row;  
  }  
}

.team__card{
  display: block;
  max-width: 448px;
  max-height: 622px;   
  background-color: $full-white;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;   
  margin-bottom: 30px; 

  @media (min-width: 768px) {
    margin-bottom: 0px;
    max-width: 352px;
    max-height: 536px;

    margin-top: calc(1 * 30px);
    margin-left: calc(1 * 30px);
    flex-basis: calc((100% - 60px) / 2);       
  }  

  @media (min-width: 1210px) {
    max-width: 268px;
    max-height: 428px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__photo{
  display: block;   

  @media (min-width: 768px) {
    max-height: 374px;
  }

  @media (min-width: 1210px) {
    max-height: 260px;    
  }
}

.team__name{
  color: $title-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;  
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position{
  color: $subtitle-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,2;  
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team__social-links{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.team__item{
  &:not(:last-child){
    margin-right: 10px;
  }
}

.team__link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $full-white;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: $svg-grey-color;

  &:hover,
  &:focus{
    background-color: $text-blue;
    color: $full-white;
    cursor: pointer;
  }

  @include transition(color, background-color);
}

.team__icon{
  fill: currentColor;
}