.team{
  background-color: $our-team-bg;  
}

.team__container{
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title{  
  @extend %title-h2;
  margin-bottom: 50px;
}

.team__list{
  display: flex;  
}

.team__card{
  width: 270px;
  height: 428px;   
  background-color: $full-white;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child){
    margin-right: 30px;
  }
}

.team__name{
  color: $title-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;  
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position{
  color: $subtitle-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,2;  
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team__social-links{
  margin: 0 auto;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.team__item{
  &:not(:last-child){
    margin-right: 10px;
  }
}

.team__link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $full-white;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: $svg-grey-color;

  &:hover,
  &:focus{
    background-color: $text-blue;
    color: $full-white;
    cursor: pointer;
  }

  @include transition(color, background-color);
}

.team__icon{
  fill: currentColor;
}