.site-header__container{
  display: flex;
}

.site-header--portfolio{
  border: 1px solid $header-bd-color;
}

.site-header__nav{
  display: flex;
  align-items: center;  
}

.site-menu{
  display: flex;
  margin-left: 93px; 
    
  & :not(:last-child){
    margin-right: 50px;
  }
}

.site-menu__link{
  position: relative;
  display: block;
  color: $title-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 28px;

  @include transition(color cursor); 

  &:hover,
  &:focus{
    color: $text-blue;  
  }

  &::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $text-blue;
    opacity: 0;

    @include transition(opacity); 
  }

  &:hover::after,
  &:focus::after{
    opacity: 1;
  }
}

.site-menu__link--current{
  color: $text-blue;

  &::after{
    opacity: 1;
  }
}

.site-header__contacts{
  display: flex;
  align-items: center;
  margin-left: 305px;    
}

.site-contact--top{
  display: flex;  
  margin: 0 auto;   

  & :not(:last-child){
    margin-right: 30px;
  } 
}

.site-contact__link--top{  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.site-contact__icon{
  fill: currentColor;
  margin-right: 10px;
}

